@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #0c0b09;
  --primary-light: #002D6D;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
